#app,
#app-error {
  background: $app-bg !important;
  color: $app-color !important;
}

.topbar > .navbar {
  background: $app-main !important;
  //border-bottom: .5px solid $app-border-color;
  box-shadow: 0 1px 2px rgba($black, .1);
  z-index: 1030;

  &.no-shadow {
    box-shadow: none;
  }

  & + .addressbar {
    box-shadow: 0 1px 2px rgba($black, .1);
    z-index: 1020;
  }
}

#aside {
  background: $app-sidebar-bg !important;

  .topbar > .navbar {
    background: $app-sidebar-bg !important;
    //box-shadow: none;
  }

  .a2hs-logo {
    box-shadow: 0 1px 1px rgba($black, .4);
  }
}

.aside-open #aside {
  @include media-breakpoint-down(sm) {
    box-shadow: 3px 0 3px rgba($black, .1);
  }
}

.list-group .list-group-item {
  border-color: $app-border-color;

  &.disabled {
    background: $app-light-bg;
  }
}

.main-explorer {
  .area-container {
    background: $app-bg !important;
  }

  .area-header {
    color: $app-muted-color;
  }

  .area-header a {
    color: $app-muted-color;
    &:hover {
      color: $app-primary;
    }
  }

  .manga-area,
  .chapter-area,
  .gallery-area {
    .row {
      border-color: $app-border-color;
    }

    .cover {
      //border: .5px solid $app-border-color;

      img,
      .cover-placeholder {
        background: $app-cover-bg;
        color: #ccc;
      }
    }
  }

  .file-area {
    .area-item-inner {
      background: $app-light-bg;
      box-shadow: 0 4px 8px -4px rgba($black, .4);         
    }

    .area-item:hover {
      .area-item-inner { 
        filter: brightness(90%);

        > div {
          transform: scale(1.1);
        }
      }

      .caption {
        color: $app-primary;
      }
    }

    .area-item.active {
      .area-item-inner {
        background: $app-light-bg;
        box-shadow: 0 0 0 4px $app-grid-active-bg,
                    0 4px 8px -4px rgba($black, .4);
      }  
    }
  }

  .manga-area,
  .chapter-area {
    .cover {
      border-bottom: 0;
    }

    .cover-inner {
      box-shadow: 0 4px 8px -4px rgba($black, .4);        
    }

    .badge {   
      border: 1px solid $app-muted-color;
      color: $app-muted-color;
    }

    .list-group-item:hover {
      .badge {
        color: $app-primary;
        border-color: $app-primary;
      }
    }

    .list-group-item.active {
      .badge {
        background-color: $app-primary;
        color: $white;
        border-color: $app-primary;
      }
    }

    .area-item:hover {  
      img {
        top: 55%;
        left: 55%;
        transform: scale(1.1) translateX(-50%) translateY(-50%);
        filter: brightness(90%);
      }
      
      .cover-placeholder {
        transform: scale(1.1);
        filter: brightness(90%);
      }

      .caption {
        color: $app-primary;
      }
    }

    .area-item.active {
      .cover-inner {
        box-shadow: 0 0 0 4px $app-grid-active-bg,
                    0 4px 8px -4px rgba($black, .4);
      }
    }
  }

  .gallery-area .row {
    background: $app-main;
  }

  .gallery-area .row {
    .area-item.active {
      box-shadow: 0 0 0 4px $app-grid-active-bg;
    }
  }

  .list-group {
    .list-group-item {
      &.active {
        color: $app-color;
        background: $app-item-active-bg;
        border-color: $app-border-color;
      }
    }
  }
}

// Addressbar
//==
.addressbar {
  background: $app-main;
}

.address-item:not(.muted) {
  &:hover {
    background: $app-border-color;
  }
  
  // &:last-child,
  // &.muted {
  //   color: $app-muted-color;
  
  //   &:hover {
  //     background: none;
  //   }
  // }
}

.address-separator {
  color: $app-color;
}


// Sidebar.Explorer
//==
.explorer-repo-name {
  background: $app-lighter-bg;
  box-shadow: 0 1px 2px rgba($black, .1);

  &:hover {
    font-size: bold;
    color: $app-primary;
  }
}

.explorer-latest,
.list-nested .list-group .list-group-item  {
  &.active {
    background: $app-lighter-bg;
    color: $app-color;
  }

  &:hover {
    background: $app-bg;
  }

  &.active:hover {
    background: darken($app-lighter-bg, 5%);
  }
}

.list-nested .manga-group-item {
  .list-group .list-group-item {
    background: $white;
    border-top: .5px solid $app-border-color;
    border-bottom: .5px solid $app-border-color;

    &:hover {
      background: $app-item-hover-bg;
    }
  }

  .manga-group-btn {
    border: .5px solid $app-muted-color;
  }
}

// Global
// ==

.text-muted {
  color: $app-muted-color !important
}

// Metadata
// ==
.dark #metadata {
  color: #fff;
}

.dark .manga-title-hidden {
  color: #fff;
}

#metadata {

  .metadata-share .modal {
    color: $app-color !important;
  }

  .metadata-cover {
    box-shadow: 0 2px 12px 0 rgba($app-shadow-color, .35);
  }
  
  .description {
    color: $app-muted-color;
  }
}


// Scrollbar
// ==
::-webkit-scrollbar-track {
  background-color: $app-scrollbar-track;
}

::-webkit-scrollbar-thumb {
  background-color: $app-scrollbar-track;
}

:hover::-webkit-scrollbar-thumb {
  background-color: $app-scrollbar-thumb;
}

body::-webkit-scrollbar-thumb {
  background-color: $app-scrollbar-thumb !important;
}


// Viewer
// ==
// may be needn't support themes

$viewer-bg: $black;
$viewer-color: #eee;
$viewer-toolbar-bg: #333;


body.viewer-active,
.viewer-active #app {
  background: $viewer-bg !important;
} 

body.viewer-active {
  &::-webkit-scrollbar-track {
    background-color: $viewer-bg;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #666 !important;
  }
}


#viewer {
  background: $viewer-bg !important;
  color: $viewer-color !important;

  .viewer-topbar > .navbar,
  .viewer-toolbar > .navbar {
    background: $viewer-toolbar-bg !important;
    box-shadow: 0px 1px 2px 0px rgba($black, 0.3);
  }

  .viewer-topbar.viewer-autoscrolling > .navbar {
    background: $app-primary !important;
  }

  .viewer-loading {
    background: $viewer-bg;

    .loading-spinner {
      color: $viewer-color;
    }
  }

  .viewer-seekbar-container,
  .viewer-seekbar-tip {
    background: rgba($viewer-bg, .8);
  }

  .viewer-page-indicator {
    background: rgba($viewer-bg, .8);
  }

  .dropdown-menu {
    background: $viewer-toolbar-bg !important;
    color: $viewer-color !important;
    box-shadow: 0 2px 4px -1px rgba($black, 0.2), 
                0 4px 5px 0 rgba($black, 0.14), 
                0 1px 10px 0 rgba($black, 0.12);

    .dropdown-item:hover {
      background: rgba($white, .1);      
    }
  }
}