
#app,
#app-error {
  background: $app-bg !important;
  //color: $app-color !important;
}

.topbar > .navbar {
  background: $app-primary !important;
  //border-bottom: .5px solid $app-border-color;
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  z-index: 1030;

  &.no-shadow {
    box-shadow: none;
  }

  & + .location {
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    z-index: 1020;
  }
}

#sidebar {
  background: $app-sidebar-bg !important;

  .topbar > .navbar {
    background: $app-sidebar-bg !important;
    box-shadow: none;
  }
}

.list-group .list-group-item {
  border-color: $app-border-color;

  &.disabled {
    background: $app-light-bg;
  }
}

.main-explorer {
  .area-container {
    background: $app-bg !important;
  }

  .area-header {
    color: $app-muted-color;
  }

  .manga-area > .row,
  .gallery-area > .row {
    border-color: $app-border-color;

    .cover {
      border: .5px solid $app-border-color;
      img {
        background: $app-cover-bg;
      }
    }
  }

  .manga-area > .row {
    .area-item:hover {
      .cover,
      .caption {
        box-shadow: 0 0 0 6px $app-item-hover-bg;
      }
    }

    .area-item.active {
      .cover,
      .caption {
        box-shadow: 0 0 0 8px $app-item-active-bg;
      }
    }
  }

  .manga-area > .row .cover {
    border-bottom: 0;
  }

  .gallery-area > .row {
    background: $app-primary;
  }

  .gallery-area > .row {
    .area-item:hover {
      background: $app-item-hover-bg;
    }

    .area-item.active {
      background: 0 0 0 8px $app-item-active-bg;
    }
  }

  .manga-area {
    .caption {
      background: $app-primary;
      border: .5px solid $app-border-color;
      box-shadow: 0 1px 0px rgba(0,0,0,.1);
    }
  }

  .folder-area .list-group,
  .chapter-area .list-group {
    .list-group-item {
      &.active {
        color: $app-color;
        background: $app-item-active-bg;
        border-color: $app-border-color;
      }
    }
  }
}

.location {
  background: $app-primary;
  
  > ul {
    > li:hover {
      background: $app-border-color;
    }

    > li:last-child,
    > li.muted {
      color: $app-muted-color;

      &:hover {
        background: none;
      }
    }

    .breadcrumb-separator {
      color: $app-color;
    }
  }
}

.list-nested  {
  .list-group {
    .list-group-item {
      &.active {
        background: $app-lighter-bg;
        color: $app-color;
      }

      &:hover {
        background: $app-bg;
      }
    }
  }
}

.repo-name {
  background: $app-lighter-bg;
}

#metadata {
  // background: $app-primary;
  // border-bottom: .5px solid $app-border-color;

  .cover {
    box-shadow: 1px 2px 3px rgba($app-shadow-color, .3);
  }
  
  .description {
    color: $app-muted-color;
  }
}

::-webkit-scrollbar-thumb {
  background: $app-scrollbar-thumb;

  &:hover {
    background: $app-scrollbar-thumb-hover;
  }
}

::-webkit-scrollbar-track {
  background: $app-scrollbar-track;
}


// may be need not support themes
#viewer {
  background: $black !important;
  color: $white !important;

  .viewer-topbar,
  .viewer-toolbar > .navbar {
    background: rgba($black, .8) !important;
  }
}

.qrcode-container {
  color: $black;
  background: rgba($white, .3);

  .qrcode {
    background: $white;
    box-shadow: 0 0 5px $black;
    border: 1px solid #ddd;
  }
}
