// App
// ==

body {
  @include themed() {
    color: t("body-color") !important;
    background: t("body-bg") !important;
  }
}

[id="app.error"] {
  .error-icon {
    @include themed() {
      color: t("error-icon-color") !important;
    }
  }

  .error-code {
    @include themed() {
      color: t("error-code-color") !important;
    }
  }
}

[id="app.login"] {
  .logo-icon {
    @include themed() {
      color: t("primary") !important;
    }
  }

  .login-box {    
    @include media-breakpoint-up(sm) {
      @include themed() {
        border: .5px solid t("border-color");
        background: t("base");
      }
    }
  }
}

// ## repos
[id="repos"] {
  .topbar > .navbar {
    @include themed() {
      background: t("base") !important;
      box-shadow: 0 1px 2px rgba(t("shadow-color"), .1);
    }
    z-index: 1030;
  }
}

// ## workbench.aside
[id="workbench.aside"] {
  @include themed() {
    background: t("sidebar-bg") !important;
  }

  .topbar > .navbar {
    @include themed() {
      background: t("sidebar-bg") !important;
      box-shadow: 0 1px 2px rgba(t("shadow-color"), .1);
    }

    z-index: 1030;
  }

  .a2hs-logo {
    @include themed() {
      box-shadow: 0 1px 1px rgba(t("shadow-color"), .4);
    }
  }

  .aside-open & {
    @include media-breakpoint-down(sm) {    
      @include themed() {
        box-shadow: 3px 0 3px rgba(t("shadow-color"), .1);
      }
    }
  }  
}

// ## workbench.aside.sidebar
[id="workbench.aside.sidebar"] {
  @include themed() {
    border-right: 1px solid t("border-color");
  }
}

// ## workbench.aside.sidebar.explorer
[id="workbench.aside.sidebar.explorer"] {
  @include themed() {
    .explorer-repo-name {
      background: t("lighter-bg");
      box-shadow: 0 1px 2px rgba(t("shadow-color"), .1);
      
      > span:hover {
        font-size: bold;
        color: t("primary");
      }
    }

    .explorer-latest,
    .explorer-rand,
    .list-nested .list-group .list-group-item  {
      &.active {
        background: t("lighter-bg");
        color: t("body-color");
      }

      &:hover {
        background: t("body-bg");
      }

      &.active:hover {
        background: darken(t("lighter-bg"), 5%);
      }
    }

    .list-nested .manga-group-item {
      .list-group .list-group-item {
        background: t("body-bg");
        border-bottom: .5px solid t("border-color");

        &:hover {
          background: t("list-item-hover-bg");
        }
      }

      .manga-group-btn {
        border: .5px solid t("muted-color");
      }
    }
  }
}

// ## workbench.aside.sidebar.watchOnMobile
[id="workbench.aside.sidebar.watchOnMobile"] {
  @include themed() {
    .qrcode-wrapper .qrcode {
      background: $white;
      border: .5px solid t("border-color");
    }
  }
}

// ## workbench.aside.menubar
[id="workbench.aside.menubar"] {
  @include themed() {
    background: t("sidebar-menubar-bg");

    .menubar-btn.active {
      &::after {
        background: t("primary") !important;
      }
    }
  }
}

// ## workbench.main.manga
[id="workbench.main.manga"] {
  @include themed() {
    .header > .navbar {
      background: t("base") !important;
      box-shadow: 0 1px 2px rgba(t("shadow-color"), .1);
      z-index: 1030;

      &.no-shadow {
        box-shadow: none;
      }

      & + .addressbar {
        box-shadow: 0 1px 2px rgba(t("shadow-color"), .1);
        z-index: 1020;
      }
    }

    // metadata
    .metadata-info,
    .metadata-actions {
      background: t("base");
      border-bottom: .5px solid t("border-color");
    }

    .metadata-actions {
      color: t("muted-color");
    }

    .metadata-versions .list-group-item {
      border-left: 3px solid t("border-color") !important;
    
      &.version-active {
        border-left-color: t("primary") !important;
        color: t("primary") !important;
      }
    }

    .area-container {
      background: t("body-bg") !important;
    }

    .area-header {
      color: t("muted-color");
      background: t("body-bg") !important;
    }

    .area-header-inner {
      border-color: t("border-color") !important;
    }

    .area-header a {
      color: t("muted-color");

      &:hover {
        color: t("primary");
      }
    }

    // manga item style
    .manga-item {
      .cover {
        border-bottom: 0;
      }

      .badge {   
        border: .5px solid t("muted-color");
        color: t("muted-color");
      }

      .manga-status {
        color: t("primary");
      }

      .manga-version-labels {  
        ul {
          box-shadow: 0px 0px 2px t("border-color");   
        }
    
        li {
          color: t("version-label-color");
          background-color: rgba(t("version-label-bg"), .85);
          border-bottom: .5px solid lighten(t("version-label-bg"), 20%);

          &::after {
            border-right: 2px solid t("primary");
          }
        }
      
        > ul > li:hover { 
          background-color: t("primary"); 
        }
      }
    }

    .cover {

      img,
      .cover-placeholder {
        background: t("cover-bg");
        color: t("cover-color");
      }
    }

    .manga-area,
    .chapter-area,
    .gallery-area {
      .row {
        border-color: t("border-color");
      }
    }

    .file-area {
      .area-item-inner {
        background: t("cover-bg");
        box-shadow: 0 4px 8px -4px rgba(t("shadow-color"), .4);         
      }

      .area-item:hover {
        .area-item-inner { 
          filter: brightness(90%);
        }
      }

      .area-item.active {
        .area-item-inner {
          background: t("cover-bg");
        }  
      }
    }

    .manga-area,
    .chapter-area {
      .manga-item {
        .cover-inner {
          box-shadow: 0 4px 8px -4px rgba(t("shadow-color"), .2);
        } 
      }

      .list-group-item:hover {
        .badge {
          color: t("primary");
          border-color: t("primary");
        }
      }

      .list-group-item.active {
        .badge {
          color: t("list-item-badge-color");
          background-color: t("primary");
          border-color: t("primary");
        }
      }

      .area-item:hover {
        .cover {        
          img,
          .cover-placeholder {
            filter: brightness(90%);
          }
        }
      }

      .area-item.active {
        border-color: lighten(t("primary"), 20%);
        background-color: rgba(t("primary"), .1);
      }
    }

    .gallery-area {
      .row {
        background: t("base");
      }
    }

    .list-group {
      .list-group-item {
        &.active {
          color: t("body-color");
          background: t("list-item-active-bg");
          border-color: t("border-color");
        }
      }
    }

    .addressbar {
      background: t("base");
    
      .address-item:not(.muted) {
        &:hover {
          background: t("border-color");
        }
      }
      
      .address-separator {
        color: t("body-color");
      }
    }

    .manga-version-loading,
    .metadata-loading,
    .data-view-loading-mask {
      background-color: t("body-bg");
    }
  }
}

// Common
// ==
.list-group .list-group-item {
  @include themed() {
    border-radius: 0;
    border-color: t("border-color");
    background-color: t("list-item-bg");
    color: t("list-item-color");

    &:hover {
      background-color: t("list-item-hover-bg");
    }

    &.disabled {
      background: t("light-bg");
    }
  }
}

.text-muted {
  @include themed() {
    color: t("muted-color") !important
  }
}

// ## common.placeholder.color
::placeholder {
  color: #333 !important;
  font-size: .85em;
}


// ## common.scrollbar.track
::-webkit-scrollbar-track {
  @include themed() {
    background-color: t("scrollbar-track-bg");
  }
}

:hover::-webkit-scrollbar-thumb {
  @include themed() {
    background-color: t("scrollbar-thumb-hover-bg");
  }
}

::-webkit-scrollbar-thumb {
  @include themed() {
    background-color: t("scrollbar-thumb-bg") !important;
  }
}


// Viewer (support themes later)
// ==

$viewer-bg: #000;
$viewer-color: #eee;
$viewer-toolbar-bg: #333;

body.viewer-active,
.viewer-active #app {
  background: $viewer-bg !important;
} 

body.viewer-active {
  &::-webkit-scrollbar-track {
    background-color: $viewer-bg;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: #666 !important;
  }
}

#viewer {
  background: $viewer-bg !important;
  color: $viewer-color !important;

  .viewer-topbar .navbar,
  .viewer-toolbar .navbar {
    background: $viewer-toolbar-bg !important;
    box-shadow: 0px 2px 4px 0px rgba(#000, 0.3);
  }

  .viewer-loading {
    background: $viewer-bg;

    .loading-spinner {
      color: $viewer-color;
    }
  }

  .viewer-seekbar-container,
  .viewer-seekbar-tip {
    background: rgba($viewer-bg, .8);
  }

  .viewer-page-indicator {
    background: rgba($viewer-bg, .8);
  }

  .dropdown-menu {
    background: $viewer-toolbar-bg !important;
    color: $viewer-color !important;
    box-shadow: 0 2px 4px -1px rgba(#000, 0.2), 
                0 4px 5px 0 rgba(#000, 0.14), 
                0 1px 10px 0 rgba(#000, 0.12);

    .dropdown-item:hover {
      background: rgba($white, .1);      
    }
  }

  .viewer-settings {
    background: $viewer-toolbar-bg !important;
    color: #ccc !important;
    border-color: #ccc !important;
    box-shadow: 0 2px 4px -1px rgba(#000, 0.2), 
                0 4px 5px 0 rgba(#000, 0.14), 
                0 1px 10px 0 rgba(#000, 0.12);
  }
  
  .viewer-chapter-list {
    background: $viewer-toolbar-bg !important;
    color: #ccc !important;
    box-shadow: -2px 0 4px rgba(#000, 0.2);

    header {
      background-color: #333;
    }

    .viewer-chapter-list-actions {
      background-color: #666;
    }

    .list-group-item {
      background: $viewer-toolbar-bg !important;
      color: #ccc;
      border-color: #555;

      &.active {
        background-color: #666 !important;
        color: #fff !important;
        font-weight: 500;
      }

      &:hover {
        @include themed() {
          color: t("primary");
        }
      }
    }
  }

  .viewer-version-select {
    background: rgba($viewer-toolbar-bg, .8) !important;

    .list-group {
      box-shadow: 0 2px 4px -1px rgba(#000, 0.2), 
                  0 4px 5px 0 rgba(#000, 0.14), 
                  0 1px 10px 0 rgba(#000, 0.12);
    }

    .list-group-item {
      background-color: $viewer-toolbar-bg !important;
      border-color: #555;

      &:hover {
        @include themed() {
          color: t("primary");
        }
      }
    }
  }
}