@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./simple-slider.scss";
@import "./scrollbar.scss";
@import "./themes/default.scss";
@import "./base-theme.scss";

.topbar {
  position: sticky;
  top: 0;
  z-index: 1030;

  &.fixed-top {
    position: fixed;
  }
}

.loading-mask {
  position: absolute;
  //background-color: rgba($white, .5);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .3s;

  .loading-spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// reset some style
.list-group-item + .list-group-item {
  border-top-width: 0;
}

.list-group-item-action:focus {
  outline: none;
}

.btn {
  border-radius: 0 !important;
  cursor: pointer;

  &:focus {
    box-shadow: none;
  }
}

input {
  border-radius: 0 !important;
}

.hidden {
  visibility: hidden;
}

.app-toast {
  top: 3.25rem !important;
  pointer-events: none;

  .vue-notification {
    padding: .75rem 1rem;
    font-size: .9rem;
    border-radius: .25rem;
    max-width: 280px;
    border-left: 0;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.9);
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);

    @include media-breakpoint-up(sm) {
      max-width: none;
      margin: .5rem;
      font-size: 1rem;
    }
    
    &.warn {
      background: #ffb648;
      border-left-color: #f48a06;
    }
  
    &.error {
      background: #E54D42;
      border-left-color: #B82E24;
    }
  
    &.success {
      background: #68CD86;
      border-left-color: #42A85F;
    }
  }

  &.app-toast-group-viewer {
    top: 10% !important;
  }
}

@-webkit-keyframes progress-active {
  0% { width: 0; opacity: .1 }
  20% { width: 0; opacity: .5 }
  100% { width: 100%; opacity: 0 }
}

@keyframes progress-active {
  0% { width: 0; opacity: .1 }
  20% { width: 0; opacity: .5 }
  100% { width: 100%; opacity: 0 }
}
