$theme-colors: (
  "primary": #dc143c
);

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "./simple-slider.scss";
@import "./scrollbar.scss";
@import "./themes/default.scss";
@import "./base-theme.scss";

.topbar {
  position: sticky;
  top: 0;
  z-index: 1030;
}

.loading-mask {
  position: absolute;
  //background-color: rgba($white, .5);
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: opacity .3s;

  .loading-spinner {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// reset some style
.list-group-item-action:focus {
  outline: none;
}

.btn {
  cursor: pointer;

  &:focus {
    box-shadow: none;
  }
}
.app-toast {
  .vue-notification {
    padding: .5rem 1rem;
    margin: .25rem;
    font-size: 1rem;
    border-radius: .5rem;
    border-left: 0;
    color: #fff;
    background: rgba(0,0,0,.7);
    box-shadow: 2px 2px 3px rgba(0,0,0,.3);
    
    &.warn {
      background: #ffb648;
      border-left-color: #f48a06;
    }
  
    &.error {
      background: #E54D42;
      border-left-color: #B82E24;
    }
  
    &.success {
      background: #68CD86;
      border-left-color: #42A85F;
    }
  }
}
