$white:        #fff;
$black:        #000;
$light:        #eee;
$lighter:      #ddd;

// Variables
$app-main:     #000;
$app-bg:          #333;
$app-color:       $white;
$app-sidebar-bg:  #333;

$app-lighter-bg:      #222;
$app-cover-bg:        #222;
$app-shadow-color:    $white;
$app-border-color:    #333;
$app-muted-color:     #eee;