$white:        #fff;
$black:        #000;
$light:        #eee;
$lighter:      #ddd;

// Variables
$app-primary:     $white;
$app-bg:          #f8f9fa;
$app-color:       $black;
$app-sidebar-bg:  $light;

$app-lighter-bg:      $lighter;
$app-cover-bg:        $light;
$app-shadow-color:    $black;
$app-border-color:    $lighter;
$app-muted-color:     #999;

$app-scrollbar-thumb: #ccc;
$app-scrollbar-track: $light;