$white:        #fff;
$black:        #000;
$light:        #f8f9fa;
$light-100:    #eee;
$light-200:    #ddd;
$light-300:    #ccc;
$light-400:    #999;
        
// Variables
$app-main:        #dc143c;
$app-primary:     $white;
$app-bg:          $light;
$app-color:       $black;
$app-sidebar-bg:  $light-100;

$app-light-bg:        $light-100;
$app-lighter-bg:      $light-200;
$app-cover-bg:        $light-100;
$app-shadow-color:    $black;
$app-border-color:    $light-200;
$app-muted-color:     $light-400;
$app-item-active-bg:  $light-200;
$app-item-hover-bg:   $light;

$app-scrollbar-thumb:       $light-300;
$app-scrollbar-thumb-hover: $light-400;
$app-scrollbar-track:       $light-100;